<%- include("./partials/header") %>
<div class="content">
    <div class="post_box" style="text-align: center;">
        <h4>Welcome to CSS228 group</h4>
    </div>
    <div class="post_box">
        <form action="/dinsor/CSS_228" method="POST">
            <div class="form-group">
                <h5>Create new post here.</h5><br>
                <input type="text" name="text" class="form-control">
            </div>
            <button class="btn btn-warning" type="submit">Post</button>
        </form>
    </div>
    <% css228DB.forEach(function(css228DB){ %>
        <div class="post_box">
            <p>Post by : <%= css228DB.owner_id.username %></p><br>
            <p><%= css228DB.title %></p>
            <hr>
            <a href="/dinsor/<%= css228DB._id %>" class="btn btn-warning">More detail</a>
        </div>
    <% }); %>
</div>
<%- include("./partials/footer") %>