<%- include("./partials/header") %>
<div class="content">
    <div class="post_box" style="text-align: center;">
        <h4>Welcome to CSS226 group</h4>
    </div>
    <div class="post_box">
        <form action="/dinsor/CSS_226" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <h5>Create new post here.</h5><br>
                <input type="text" name="text" class="form-control">
                <input type="file" name="file">
            </div>
            <button class="btn btn-warning" type="submit">Post</button>
        </form>
    </div>
    <% css226DB.forEach(function(css226DB){ %>
        <div class="post_box">
            <p>Post by : <%= css226DB.owner_id.username %></p><br>
            <p><%= css226DB.title %></p>
            <% if(css226DB.content == "none"){ %>
                
            <% }else{ %>
                <img  alt="no image" src=<%= '../uploads/'+ css226DB.content %>><br>
                <a href=<%= '../uploads/'+ css226DB.content %>><%= css226DB.content %></a>
            <% } %>
            <hr>
            <a href="/dinsor/<%= css226DB._id %>" class="btn btn-warning">More detail</a>
        </div>
    <% }); %>
</div>
<%- include("./partials/footer") %>