<%- include("./partials/header") %>
<div class="content">
    <div class="post_box" style="text-align: center; font-size: 2vw;">
        <a>Welcome to CSS227 group</a>
    </div>
    <div class="post_box">
        <form action="/dinsor/CSS_227" method="POST">
            <div class="form-group">
                <h5>Create new post here.</h5><br>
                <input type="text" name="text" class="form-control">
            </div>
            <button class="btn btn-warning" type="submit">Post</button>
        </form>
    </div>
    <% css227DB.reverse().forEach(function(css227DB){ %>
        <div class="post_box">
            <p>Post by : <%= css227DB.p_username %></p><br>
            <p><%= css227DB.title %></p>
            <img src=<%= css227DB.image %>>
        </div>
    <% }); %>
</div>
<%- include("./partials/footer") %>