<%- include("./partials/header") %>
<div class="content">
    <div class="post_box" style="text-align: center;">
        <h4>Welcome to CSS228 group</h4>
    </div>
    <div class="post_box">
        <form action="/dinsor/CSS_228" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <h5>Create new post here.</h5><br>
                <input type="text" name="text" class="form-control">
                <input type="file" name="file">
            </div>
            <button class="btn btn-warning" type="submit">Post</button>
        </form>
    </div>
    <% css228DB.forEach(function(css228DB){ %>
        <div class="post_box">
            <p class="headpostfont">Post by : <%= css228DB.owner_id.username %></p>
            <p>Create date: <%= moment(css228DB.create_date).format("DD/MM/YYYY") %></p>
            <p><%= css228DB.title %></p>
            <% if(css228DB.content == "none"){ %>
                
            <% }else{ %>
                <a href=<%= '../uploads/'+ css228DB.content %>><img  alt="<%= css228DB.content %>" src=<%= '../uploads/'+ css228DB.content %>></a>
            <% } %>
            <hr>
            <a href="/dinsor/<%= css228DB._id %>" class="btn btn-warning">More detail</a>
        </div>
    <% }); %>
</div>
<%- include("./partials/footer") %>