<%- include("./partials/header") %>
<div class="content">
    <div class="post_box" style="text-align: center;">
        <h4>Welcome to GEN241 group</h4>
    </div>
    <div class="post_box">
        <form action="/dinsor/GEN_241" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <h5>Create new post here.</h5><br>
                <input type="text" name="text" class="form-control">
                <input type="file" name="file">
            </div>
            <button class="btn btn-warning" type="submit">Post</button>
        </form>
    </div>
    <% gen241DB.forEach(function(gen241DB){ %>
        <div class="post_box">
            <p class="headpostfont">Post by : <%= gen241DB.owner_id.username %></p>
            <p>Create date: <%= moment(gen241DB.create_date).format("DD/MM/YYYY") %></p>
            <p><%= gen241DB.title %></p>
            <% if(gen241DB.content == "none"){ %>
                
            <% }else{ %>
                <a href=<%= '../uploads/'+ gen241DB.content %>><img  alt="<%= gen241DB.content %>" src=<%= '../uploads/'+ gen241DB.content %>></a>
            <% } %>
            <hr>
            <a href="/dinsor/<%= gen241DB._id %>" class="btn btn-warning">More detail</a>
        </div>
    <% }); %>
</div>
<%- include("./partials/footer") %>