<%- include("./partials/header") %>
<div class="content">
    <div class="post_box" style="text-align: center; font-size: 2vw;">
        <a>Welcome to GEN241 group</a>
    </div>
    <div class="post_box">
        <form action="/dinsor/GEN_241" method="POST">
            <div class="form-group">
                <h5>Create new post here.</h5><br>
                <input type="text" name="text" class="form-control">
            </div>
            <button class="btn btn-warning" type="submit">Post</button>
        </form>
    </div>
    <% gen241DB.reverse().forEach(function(gen241DB){ %>
        <div class="post_box">
            <p>Post by : <%= gen241DB.p_username %></p><br>
            <p><%= gen241DB.title %></p>
            <img src=<%= gen241DB.image %>>
        </div>
    <% }); %>
</div>
<%- include("./partials/footer") %>