<%- include("partials/header") %>
<div class="content">
    <div class="post_box" style="text-align: center;">
        <h5>Welcome to Dinsor Homepage</h5>
    </div>
        <% if(currentUser && currentUser.permission == "admin"){ %>
                <div class="post_box">
                    <form action="/dinsor" method="POST">
                        <div class="form-group">
                            <h5>Create new post here.</h5><br>
                            <input type="text" name="text" class="form-control" placeholder="Input text here.">
                        </div>
                        <button class="btn btn-warning" type="submit">Post</button>
                    </form>
                </div>
        <% } %>
    <% board.forEach(function(board){ %>
        <div class="post_box">
            <div class="headpost_grid">
                <p class="headpostfont">Post by : <span class="ib"><%=  board.owner_id.username %> %></span></p>
                <i  type="button" class="fas fa-ellipsis-v " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>        
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/dinsor/<%= board._id._id %>/edit">Edit</a>
                    <form  action="/dinsor/<%= board._id._id %>?_method=DELETE" method="POST">
                        <button class="dropdown-item" type="submit">Delete</button>
                    </form>
                </div> 
            </div>
            <p class="time">Create date : <%= moment(board.create_date).format("DD/MM/YYYY") %></p>
            <hr>
            <p><%= board.title %></p>
        </div>
    <% }); %>
</div>
<%- include("partials/footer") %>