<%- include("partials/header") %>
<div class="content">
    <div class="post_box" style="text-align: center; font-size: 2vw;">
        <a>Welcome to Dinsor Homepage</a>
    </div>
    <div class="post_box">
        <form action="/dinsor" method="POST">
            <div class="form-group">
                <h5>Create new post here.</h5><br>
                <input type="text" name="text" class="form-control">
            </div>
            <button class="btn btn-warning" type="submit">Post</button>
        </form>
    </div>
    <% board.reverse().forEach(function(board){ %>
        <div class="post_box">
            <p>Post by : <%= board.p_username %></p><br>
            <p><%= board.title %></p>
            <img src=<%= board.image %>>
        </div>
    <% }); %>
</div>
<%- include("partials/footer") %>