<%- include("partials/header") %>
<div class="content">
    <div class="post_box" style="text-align: center; font-size: 2vw;">
        <a>Welcome to Dinsor Homepage</a>
    </div>
    <div class="post_box">
        <form action="/dinsor" method="POST">
            <div class="form-group">
                <h5>Create new post here.</h5><br>
                <input type="text" name="text" class="form-control">
            </div>
            <button class="btn btn-warning" type="submit">Post</button>
        </form>
    </div>
    <% board.forEach(function(board){ %>
        <div class="post_box">
            <p class="headpostfont">Post by : <%= board.owner_id.username %></p>
            <hr>
            <p><%= board.title %></p>
            <!-- <a class="btn btn-warning " href="/dinsor/<%= board._id._id %>/edit">Edit</a>
            <form class="inline" action="/dinsor/<%= board._id._id %>?_method=DELETE" method="POST">
                <button class="btn btn-warning" type="submit">Delete</button>
            </form> -->
            <hr>
        </div>
    <% }); %>
</div>
<%- include("partials/footer") %>