<%- include("./partials/header") %>
<div class="content">
    <div class="post_box" style="text-align: center;">
        <h4>Welcome to LNG224 group</h4>
    </div>
    <div class="post_box">
        <form action="/dinsor/LNG_224" method="POST">
            <div class="form-group">
                <h5>Create new post here.</h5><br>
                <input type="text" name="text" class="form-control">
            </div>
            <button class="btn btn-warning" type="submit">Post</button>
        </form>
    </div>
    <% lng224DB.reverse().forEach(function(lng224DB){ %>
        <div class="post_box">
            <p>Post by : <%= lng224DB.p_username %></p><br>
            <p><%= lng224DB.title %></p>
            <img src=<%= lng224DB.image %>>
        </div>
    <% }); %>
</div>
<%- include("./partials/footer") %>