<%- include("partials/header") %>
<div class="content">
    <% detail.forEach(function(detail){ %>
        <div class="post_box">
            <p>Post by : <%= detail.owner_id.username %></p><br>
            <p><%= detail.title %></p>
            <img src=<%= detail.image %>>
        </div>
    <% }); %>
</div>
<%- include("partials/footer") %>