<%- include("partials/header") %>
<div class="content">
    <% detail.forEach(function(el){ %>
        <div class="post_box">
            <% if(currentUser && el.owner_id._id.toString() == currentUser._id){ %>
                <button style="position: absolute;" type="button" class="guest dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/dinsor/<%= el._id._id %>/edit">Edit</a>
                    <form class="" action="/dinsor/<%= el._id._id %>?_method=DELETE" method="POST">
                        <button class="dropdown-item" type="submit">Delete</button>
                    </form>
                </div> 
            <% } %>
            <p class="headpostfont">Post by : <%= el.owner_id.username %></p>
            <p>Create date: <%= moment(el.create_date).format("DD/MM/YYYY") %></p>
            <hr>
            <p><%= el.title %></p>
            <p><%= el.create_date %></p>
            <div src=<%= '../uploads/'+ el.content %>></div>
            <a href=<%= '../uploads/'+ el.content %>></a>
            <% if(el.content == "none"){ %>
                
            <% }else{ %>
                <img  alt="no image" src=<%= '../uploads/'+ el.content %>><br>
                <a href=<%= '../uploads/'+ el.content %>><%= el.content %></a>
            <% } %>
            <hr>
            <% if(currentUser && el.owner_id._id.toString() == currentUser._id){ %>
                <button style="" type="button" class="guest dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/dinsor/<%= el._id._id %>/edit">Edit</a>
                    <form class="" action="/dinsor/<%= el._id._id %>?_method=DELETE" method="POST">
                        <button class="dropdown-item" type="submit">Delete</button>
                    </form>
                </div> 
            <% } %>
        </div>
        <% el.comment.map(function(e){ %>
            <div class="post_box buttcomment">
                <p><%= e.owner_id.username %> : <span><%= e.comment %></span></p>
                <% if(currentUser && e.owner_id._id.toString() == currentUser._id){ %>
                    <a href="/dinsor/<%= el._id._id %>/comment/<%= e._id %>/edit" class="btn btn-warning">Edit</a>
                    <form class="inline" action="/dinsor/<%= el._id._id %>/comment/<%= e._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-warning">Delete</button>
                    </form>
                <% } %>
            </div>
        <%}) %>
        <div class="post_box">
            <form action="/dinsor/<%= el._id._id %>/comment" method="POST">
                <div class=" gridcomment">
                    <input type="text" name="comment" class="form-control">
                    <button class="btn btn-warning " type="submit">Add comment</button>
                </div>
            </form>
        </div>
    <% }); %>
</div>
<%- include("partials/footer") %>